/* Custom Styles */
body {
  font-family: 'Lexend Deca', sans-serif;
  font-display: swap;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
}
.logo-name {
  font-size: 1.5rem;
  font-family: 'Poppins', 'sans-serif';
}

.logo {
  height: 50px;
  padding-right: 0px;
}

.text-to-box {
  min-height: 10rem;
}

.button.is-black.get-started-btn:hover {
  background-color: #423939;
}
.navbar {
  background-color: transparent;
  transition: background-color 0.3s;
  height: 1.2rem;
}

.navbar.is-solid {
  background-color: white;
}

.navbar-item {
  color: black;
}

.button.is-black {
  background-color: black;
  color: white;
}

.navbar-brand {
  padding-left: 2rem;
}

.navbar-end {
  padding-right: 2rem;
}

.hero-section {
  background: rgb(238,174,202);
  background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
.navbar-center {
  display: flex;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}

.main-title {
  font-size: 56px;
  letter-spacing: -1.2px;
  line-height: 1.14;
}

.box.custom-box {
  background-color: #32302f;
  border-radius: 5.6rem;
  height: 100%;
  padding: 5rem;
  margin-left: 3%;
  z-index: 1
}

.title.is-4,
.subtitle.is-6 {
  color: white;
}

.prompt-eng-title {
  font-size: clamp(2.6rem, 2.38vw + 2.54rem, 4.2rem);
  font-weight: 600;
  letter-spacing: -0.0075em;
  line-height: 108%;
  color: #65e74d;
}

.prompt-eng-sub-title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.vidura-description {
  text-align: justify;
  font-size: 20px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(245, 245, 245, 0.5)), url('images/gradient.webp');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.image-container {
  position: sticky;
  top: 1rem;
}

.macbook-border {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px 10px 10px;
  background-color: #fff;
}


.macbook-border .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
}

.macbook-border .circle.red {
  left: 10px;
  background-color: #ff5f56;
}

.macbook-border .circle.yellow {
  left: 25px;
  background-color: #ffbd2e;
}

.macbook-border .circle.green {
  left: 40px;
  background-color: #27c93f;
}

.macbook-border img {
  display: block;
  max-width: 100%;
}

.feature-title {
  padding-bottom: 1rem;
}

.github-button .navbar-item {
  font-size: 15px;
}

footer {
  font-size: 12px;
}

.hero-background-video {
  border-radius: 20px;
  object-fit: cover;
}
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .main-title {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  .box.custom-box {
    border-radius: 20px;
  }
  .prompt-eng-title {
    font-size: 1.5rem;
  }

  .prompt-eng-sub-title {
    padding-bottom: 2rem;
  }
  .vidura-stack-column {
    display: none !important;
  }

  .vidura-description {
    text-align: inherit;
  }
}


@media screen and (device-width: 360px) and (device-height: 740px)  {
  .main-title {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  .box.custom-box {
    border-radius: 20px;
  }
  .prompt-eng-title {
    font-size: 1.5rem;
  }

  .prompt-eng-sub-title {
    padding-bottom: 2rem;
  }
  .vidura-stack-column {
    display: none !important;
  }

  .vidura-description {
    text-align: inherit;
  }

  .child-group {
    display: none;
  }
}

/* Pixel 5 media query */
@media only screen and (min-width: 393px) and (max-width: 767px) {
  .main-title {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  .box.custom-box {
    border-radius: 20px;
  }
  .prompt-eng-title {
    font-size: 1.5rem;
  }

  .prompt-eng-sub-title {
    padding-bottom: 2rem;
  }
  .vidura-stack-column {
    display: none !important;
  }

  .vidura-description {
    text-align: inherit;
  }

  .child-group {
    display: none;
  }
}
