/* Custom Styles */
body {
  font-family: 'Lexend Deca', sans-serif;
  font-display: swap;
  color: #5a5f69;
}


.logo {
  height: 50px;
  padding-right: 0px;
}

.text-to-box {
  min-height: 10rem;
}

.button.is-black.get-started-btn:hover {
  background-color: #423939;
}

#wrap {
  width: 650px;
  padding: 0;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.navbar {
  background-color: white;
  transition: background-color 0.3s;
  height: 1.2rem;
  line-height: 1.75rem;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
}

.navbar.is-solid {
  background-color: white;
}

.columns {
  padding-bottom: 2rem;
}

.feature-title {
  padding-bottom: 1rem;
}

.navbar-item {
  color: black;
}

.button.is-black {
  background-color: #1a73e8;;
  color: white;
}

.navbar-brand {
  padding-left: 2rem;
}

.navbar-end {
  padding-right: 2rem;
}

.player {
  height: 500px;
}

.navbar-center {
  display: flex;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}

.main-title {
  font-size: 46px;
  letter-spacing: -1.2px;
  line-height: 1.14;
  color: #57b950;
}

.box.custom-box {
  background-color: whitesmoke;
  border-radius: 20px;
  height: 100%;
  padding: 2rem;
  margin-left: 3%;
  z-index: 1;
}

.feature-paragraph {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 20px;
}

.title {
  color: #57b950;
}

.prompt-eng-title {
  font-size: clamp(2.6rem, 2.38vw + 2.54rem, 3.2rem);
  font-weight: 600;
  letter-spacing: -0.0075em;
  line-height: 108%;
}


.prompt-eng-sub-title {
    font-size: 2rem;
    font-weight: 600;
}

.vidura-description {
  text-align: justify;
  font-size: 20px;
}


.image-container {
  position: sticky;
  top: 1rem;
}

.macbook-border {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px 10px 10px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0.5,0.5,0.5,.05)!important;
}


.macbook-border .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
}

.macbook-border .circle.red {
  left: 10px;
  background-color: #ff5f56;
}

.macbook-border .circle.yellow {
  left: 25px;
  background-color: #ffbd2e;
}

.macbook-border .circle.green {
  left: 40px;
  background-color: #27c93f;
}

.macbook-border img {
  display: block;
  max-width: 100%;
}

.feature-title {
  padding-bottom: 1rem;
}

.github-button .navbar-item {
  font-size: 15px;
}

footer {
  font-size: 12px;
}

.hero-body {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
}

.hero-section {
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.hero-background-video {
  border-radius: 20px;
  object-fit: cover;
}
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  #wrap {
    width: auto;
    display: contents;
  }

  .main-title {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  .box.custom-box {
    border-radius: 20px;
    padding: 15px;
  }
  .prompt-eng-title {
    font-size: 1.5rem;
  }

  .prompt-eng-sub-title {
    padding-bottom: 2rem;
  }
  .vidura-stack-column {
    display: none !important;
  }

  .vidura-description {
    text-align: inherit;
  }
}


@media screen and (device-width: 360px) and (device-height: 740px)  {
  #wrap {
    width: auto;
    display: contents;
  }

  .main-title {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  .box.custom-box {
    border-radius: 20px;
    padding: 15px;
  }
  .prompt-eng-title {
    font-size: 1.5rem;
  }

  .prompt-eng-sub-title {
    padding-bottom: 2rem;
  }
  .vidura-stack-column {
    display: none !important;
  }

  .vidura-description {
    text-align: inherit;
  }

  .child-group {
    display: none;
  }
}

/* Pixel 5 media query */
@media only screen and (min-width: 393px) and (max-width: 767px) {
  #wrap {
    width: auto;
    display: contents;
  }

  .main-title {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  .box.custom-box {
    border-radius: 20px;
    padding: 15px;
  }
  .prompt-eng-title {
    font-size: 1.5rem;
  }

  .prompt-eng-sub-title {
    padding-bottom: 2rem;
  }
  .vidura-stack-column {
    display: none !important;
  }

  .vidura-description {
    text-align: inherit;
  }

  .child-group {
    display: none;
  }
}
